<div class="categories">
  <div class="categories_link">
    <div class="text-center" >

      <a link_to="#" class="d-block"><i class="fa-solid fa-calendar" style="color: #717171;"></i></a>

      <span>Événements</span>
    </div>


    <div class="text-center">

      <a link_to="#"  class="d-block"><i class="fa-solid fa-snowman" class="icone" style="color: #717171;"></i></a>

      <span> Famille </span>

    </div>


    <div class="text-center">


        <a link_to="#"  class="d-block"><i class="fa-solid fa-business-time" class="icone" style="color: #717171;"></i></a>
        <span> Travail </span>
    </div>




    <div class="text-center">

        <a link_to="#"  class="d-block"><i class="fa-solid fa-heart" class="icone" style="color: #717171;"></i></a>
        <span> Amour </span>
    </div>

    <div class="text-center">

      <a link_to="#"  class="d-block"><i class="fa-solid fa-handshake" class="icone" style="color: #717171;"></i></a>
      <span> Accompagnement </span>
    </div>

    <div class="text-center">


      <a link_to="#"  class="d-block"><i class="fa-solid fa-user-graduate" class="icone" style="color: #717171;"></i></a>
      <span> Scolaire </span>
    </div>



  </div>
</div>
