<div class="categories">
  <div class="categories_link">
    <a link_to="#"><i class="fa-solid fa-calendar" style="color: #717171;"></i></a>
    <span>Événements</span>
    <a link_to="#"><i class="fa-solid fa-snowman" class="icone" style="color: #717171;"></i></a>
    <span> Famille </span>
    <a link_to="#"><i class="fa-solid fa-business-time" class="icone" style="color: #717171;"></i></a>
    <span> Travail </span>
    <a link_to="#"><i class="fa-solid fa-heart" class="icone" style="color: #717171;"></i></a>
    <span> Amour </span>
    <a link_to="#"><i class="fa-solid fa-handshake" class="icone" style="color: #717171;"></i></a>
    <span> Accompagnement </span>
    <a link_to="#"><i class="fa-solid fa-user-graduate" class="icone" style="color: #717171;"></i></a>
    <span> Scolaire </span>
  </div>
</div>
