.categories {
  // background: #F4F4F4;
  justify-content: center;
  align-items: center;
  height: 100px;
margin-top: -10px;
}

.categories_link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #717171;
}
.categories_link a {
  text-decoration: none;
  font-size: 24px;
  padding: 15px 15px 30px 15px;
  color: #717171;
}
.categories_link :hover {
  color: #222222;
  opacity: 1;
}


.icone {
  position: relative;
  bottom: 1em;
  text-align: center;
}

.categories span {
  font-size: 80%;
}
