// .container_profile {
//   display: flex;
//   // height: 120px;
//   justify-content: center;
//   text-align: center;
//   overflow: hidden;
//   align-items: center;
//   background-color: white;
//
//   margin-right: 300px;
//   margin-left: 300px;
//   margin-top: 30px;
//   // padding: 50px;
//   // box-shadow: 0 0 10px rgba(108, 108, 108, 0.2);
// }

// .profile_details {
//   text-align: left;
// }



// .profile_show {
//   height: 500px;
//   width: 120px;
//   object-fit: cover;
// }
.container {
  padding: 0px 4px 0px 20px;
}

.card-product {
  overflow: hidden;
  height: 400px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.profile_show {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.profile_title {
  // margin-top: 30px;
  // margin-left: 200px;
  font-size: 32px;
  font-weight: bold;
}

.card-product-infos h2 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 24px;
}

.card-product-infos p {
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  // font-size: 24px;
  // color: #717171;
}


.btn-ghost-2 {
  color: #FF385C;
  border: 1px solid #FF385C;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 16px;
  margin-left: 24px;
}

.btn-ghost-2:hover {
  color: #FF385C;
  border: 1px solid #FF385C;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-right: 16px;
  margin-left: 24px;
  opacity: 1;
}

.back {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


.btn-ghost-inside {
  color: #FF385C;
  border: 1.8px solid #FF385C;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-top: 16px;
  margin-left: 24px;
}

.btn-ghost-inside:hover {
  color: #FF385C;
  border: 1.8px solid #FF385C;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  margin-top: 16px;
  margin-left: 24px;
  opacity: 1;
}
